<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google Fonts Pre Connect -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fonts Links (Roboto 400, 500 and 700 included) -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="..//view//css//list_student.css">

    <!-- import chức năng trong controller javascrip -->
    <script src="..//controller//javaScriptController//add_information_student.js"></script>
    <script src="..//controller//javaScriptController//delete_student_in_table.js"></script>
    <script src="..//controller//javaScriptController//edit_student_in_table.js"></script>
    <script src="..//controller//javaScriptController//get_set_information_value_student.js"></script>
    <script src="..//controller//javaScriptController//render_student_table.js"></script>
    <script src="..//controller//javaScriptController//check_value_add_information.js"></script>
    <script src="..//controller//javaScriptController//update_student_object_in_table.js"></script>
    <script src="..//controller//javaScriptController//search_student_input_controller.js"></script>

    <!-- import các model trong model javascrip -->
    <script src='..//model//javaScriptModel//manager_student.js'></script>
    <script src='..//model//javaScriptModel//student.js'></script>
    <script src='..//model//javaScriptModel//global_variable.js'></script>
    <script src='..//model//javaScriptModel//create_data_initial.js'></script>

    <!-- Title -->
    <title>Danh sách sinh viên</title>
</head>

<body>

    <main>

        <html>

        <div class="mx-auto mt-5 d-flex flex-column container">
            <header>
                <h1>Tìm kiếm sinh viên</h1>
            </header>
            <div class="my-3 d-flex flex-column mx-auto">
                <form>
                    <div class="d-flex mb-2">

                    </div>
                    <div class="d-flex  mr-2">
                        <label class="input-label h-100 ">Từ
                            khóa</label>
                        <input class="d-flex input-search" type="text" name="txtTuKhoa" placeholder="Từ khóa cần tìm">
                    </div>

                    <div class="d-flex">
                        <button class="btn1 mx-auto btn btn-action
                                        btn-submit mt-3" type="button" onclick="delete_value_search()">Xóa</button>
                        <button class="mx-auto btn btn-action
                                        btn-submit mt-3" type="button" onclick="search_input_table_student()">Tìm
                            kiếm</button>
                    </div>
                </form>
            </div>
        </div>
        
        <body>
            <div class="mx-auto mt-5 d-flex flex-column container">

                <div class="d-flex justify-content-center mx-2">
                    <header>
                        <h1>Danh sách sinh viên</h1>
                    </header>
                </div>
                <div class="mt-3 table-display-information">
                    <table id="table-display-student">
                        <tr>
                            <th>
                                <p class="table-name-column"> Check-box</p>
                            </th>
                            <th>
                                <p class="table-name-column"> Mã SV </p>
                            </th>
                            <th>
                                <p class="table-name-column"> Tên sinh viên </p>
                            </th>
                            <th>
                                <p class="table-name-column"> Ngày sinh </p>
                            </th>
                            <th>
                                <p class="table-name-column"> Giới tính </p>
                            </th>
                            <th>
                                <p class="table-name-column"> Khoa </p>
                            </th>
                            <th>
                                <p class="table-name-column"> Action </p>
                            </th>

                        </tr>
                    </table>


                </div>
            </div>
            <div class="mx-auto mt-5 d-flex flex-column container">
                <div class="d-flex justify-content-center mx-2">
                    <header>
                        <h1>Thêm mới sinh viên</h1>
                    </header>


                </div>
                <!-- Các nút chức năng thêm , sửa xóa -->
                <div style="padding: 30px;  " class="d-flex justify-content-center mx-2">
                    <button class="btn btn-action" type="button" onclick="addInformationToTable()">Thêm mới</button>
                    <button class="btn btn-action" onclick="update_information_student_in_table()">Cập nhật</button>
                    <button class="btn btn-action" onclick="delete_multial_student()">Xóa</button>
                </div>
                <!-- Vùng nhập thông tin thêm mới sinh viên -->
                <div class="table-add-information">
                    <table>
                        <tr>
                            <th class="input-force">
                                <p class="table-name-column">Mã sinh viên</p>
                            </th>
                            <td>
                                <input type="text" class="d-flex input-add-student" id="code-student-add"
                                    placeholder="Nhập mã sinh viên hiện tại của bạn" required>
                                <div id="message-code-student" style="display: none;">
                                    <p style="text-align: start; color: red; margin-left: 8%;"> hãy nhập mã sinh viên
                                    </p>
                                </div>
                            </td>

                        </tr>
                        <tr>
                            <th class="input-force">
                                <p class="table-name-column" id="name-column">Tên sinh viên</p>
                            </th>
                            <td> <input type="text" class="d-flex input-add-student" placeholder="Nhập tên của bạn"
                                    required>
                                <div id="message-name-student" style="display: none;">
                                    <p style="text-align: start; color: red; margin-left: 8%;"> hãy nhập tên sinh viên
                                    </p>
                                </div>

                            </td>
                        </tr>
                        <tr>
                            <th>
                                <p class="table-name-column">Ngày sinh</p>
                            </th>
                            <td>
                                <input type="date" id="date-student">
                                <div id="message-date-student" style="display: none;">
                                    <p style="text-align: start; color: red; margin-left: 8%;"> hãy chọn ngày sinh của
                                        sinh viên </p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <p class="table-name-column">Giới tính</p>
                            </th>
                            <td>
                                <input type="radio" name="gender" value="male"> Nam
                                <input type="radio" name="gender" value="female"> Nữ
                                <div id="message-gender-student" style="display: none;">
                                    <p style="text-align: start; color: red; margin-left: 8%;"> hãy chọn giới tính sinh
                                        viên </p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th class="input-force">
                                <p class="table-name-column">Khoa</p>
                            </th>
                            <td>
                                <select id="faculty-section-student">
                                    <option value="cntt">Công nghệ thông tin</option>
                                    <option value="khmt"> Khoa học máy tính </option>
                                    <option value="cdt"> Cơ điện tử </option>
                                    <option value="thys"> Tin học y sinh </option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <script>create_Data_Table();</script>
        </body>

        </html>
    </main>

</body>

</html>